@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* Config */
.limit {
  max-width: 980px;
  margin: 0 auto;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga" on, "kern" on;
  letter-spacing: 0.5px;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* header-site */
.header-site {
  display: flex;
  width: 100%;
  height: 80px;
}

.header-site-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header-site-logo-container {
  position: relative;
  max-width: 78px;
  max-height: 30px;
}
.header-site-logo-container > img {
  position: relative;
  width: 100%;
}
/* header-site-menu */
.header-site-menu > ul {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.header-site-menu > ul > li > a {
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
  font-weight: 700 !important;
}
.nav-btn-contact {
  color: #fff !important;
  padding: 5px 7px;
  background-color: #4caf4f;
  cursor: pointer;
  border-radius: 4px;
}

/* hero-section */
.hero-section {
  width: 100%;
  height: 505px;
  background-size: cover;
  background-image: url("../imgs/bg-hero.png");
}
.hero-section-container {
  padding: 0 20px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-section-text {
  display: flex;
  flex-direction: column;
}
.hero-section-title {
  color: #fff;
  font-size: 3.5rem !important;
}
.hero-section-subtitle {
  color: #fff;
  font-size: 2.25rem !important;
}
.btn-contact {
  text-decoration: none;
  color: #fff;
  background-color: #4caf4f;
  width: fit-content;
  padding: 14px 25.5px;
  border-radius: 4px;
  text-transform: uppercase;
  margin-top: 19px;
}
/* about */
.about {
  margin-top: 70px;
}
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h1-section-title {
  font-size: 2.25rem;
}
.section-subtitle {
  margin-top: 26px;
  max-width: 650px;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 9px;
  /* font-weight: 300 !important; */
}

.about-container-card-imgs {
  position: relative;
  margin-top: 43px;
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  column-gap: 26px;
  row-gap: 26px;
}
.about-card-img-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 331px;
  border-radius: 8px;
}

.about-card-img-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* info-section */

.info-section {
  width: 100%;
  height: 308px;
  margin-top: 70px;
  background-color: #f5f7fa;
}

.info-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 52px;
}

.info-section-left-title {
  color: #565656;
  font-size: 3.5em;
}
.info-section-left-subtitle {
  font-size: 2.25em;
  color: #56565695;
}

.info-section-rigth-text {
  display: flex;
  gap: 26px;
  flex-direction: column;
}
.info-section-rigth-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 11px;
}
.info-section-rigth-card > span{
  display: inline-block;
}

.bold-intro-info-card {
  justify-self: end;
  font-size: 2.25em;
  color: #565656;
}
.text-info-card {
  width: fit-content;
}

.reviews-section{
  margin-top: 70px;
}

.reviews-section-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards-reviews{
  margin-top: 96px;
  display: flex;
  gap: 39px;
}
.card-review{
  border: 1px solid rgba(10, 10, 10, 0.099);
  display: flex;
  min-height: 146px;
  max-width: 290px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 0px 13px;
}
.card-review > p{
  max-width: 265px;
  text-align: center;
  color: #333333;
}
.card-review-img-container{
  position: relative;
  max-width: 100px;
  max-height: 100px;
  overflow: hidden;
  border-radius: 100%;
  margin-top: -75px;
  margin-bottom: 21px;
}
.card-review-img-container > img{
  width: 100%;
}