@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Config */
.limit{
  max-width: 980px;
  margin: 0 auto;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga' on, 'kern' on;
  letter-spacing: 0.5px;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* header-site */
.header-site{
  display: flex; 
  width: 100%;
  height: 80px;
}

.header-site-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header-site-logo-container{
  position: relative;
  max-width: 78px;
  max-height: 30px;
}
.header-site-logo-container > img{
  position: relative;
  width: 100%;
}
/* header-site-menu */
.header-site-menu > ul{
   display: flex;
   flex-direction: row;
   gap: 16px;
}
.header-site-menu > ul > li > a{
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
  font-weight: 700 !important;
}
.nav-btn-contact{
  color: #fff !important;
  padding: 5px 7px;
  background-color: #4CAF4F;
  cursor: pointer;
  border-radius: 4px;
}